@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --carmine: #991c1aff;
  --black: #1c1f20;
  --night: #181b1d;
  --white: #ffffffff;
  --timberwolf: #d6d7d7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --carmine: #991c1aff;
    --black: #1c1f20;
    --night: #181b1d;
    --white: #ffffffff;
    --timberwolf: #d6d7d7ff;
  }
}

body {
  color: var(--white);
  background: var(--night);
  height: 100vh;
  width: 100%;
}
